<template>
    <div class="slds-path slds-path_has-coaching">
        <div class="slds-grid slds-path__track">
            <div class="slds-grid slds-path__scroller-container">
                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-path__trigger"
                    title="Toggle Sales Coaching" aria-expanded="false" aria-controls="path-coaching-1">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                    </svg>
                    <span class="slds-assistive-text">Show Details</span>
                </button>
                <div class="slds-path__scroller">
                    <div class="slds-path__scroller_inner">
                        <ul class="slds-path__nav" role="listbox" aria-orientation="horizontal">
                            <template for:each={listOfPath} for:item="path" for:index="index">
                                <li key={path} class={path.classList} role="presentation" data-id={index}
                                    data-value={path.value} onclick={opportunityStagesHandler}>
                                    <a aria-selected="true" class="slds-path__link" data-id={path.value}
                                        role="option" tabindex="0">
                                        <span class="slds-path__stage">
                                            <svg class="slds-icon slds-icon_x-small" aria-hidden="false">
                                                <use
                                                    xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check">
                                                </use>
                                            </svg>
                                            <span class="slds-assistive-text" if:true={currentStage}>Current
                                                Stage:</span>
                                        </span>
                                        <span class="slds-path__title">{path.value}</span>
                                    </a>
                                </li>
                            </template>                                            
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
       
    </div>
</template>