<template>
    <lightning-card>
        <div class="slds-size_1-of-1">
            <div class="slds-box slds-box_x-small  slds-m-around_x-small">
                <div class="slds-path slds-path_has-coaching">
                   
                    <div class="slds-grid slds-path__track">
                        <div class="slds-grid slds-path__scroller-container">
                            <div class="slds-path__scroller">
                                
                                <div class="slds-path__scroller_inner">
                   
                                    <ul class="slds-path__nav" role="listbox" aria-orientation="horizontal">
                                        <template for:each={listOfPath} for:item="path" for:index="index">
                                            <li key={path} class={path.classList} role="presentation" data-id={index}
                                                data-value={path.value} onclick={opportunityStagesHandler}>
                                                <a aria-selected="true" class="slds-path__link" data-id={path.value}
                                                    role="option" tabindex="0">
                                                    <span class="slds-path__stage">
                                                        <svg class="slds-icon slds-icon_x-small" aria-hidden="false">
                                                            <use
                                                                xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check">
                                                            </use>
                                                        </svg>
                                                        <span class="slds-assistive-text" if:true={currentStage}>Current
                                                            Stage:</span>
                                                    </span>
                                                    <span class="slds-path__title">{path.value}</span>
                                                </a>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div if:true={showOpportunityStage}>
                <c-child-component opportunity-stage={opportunityStages} list-of-fields={listOfFields} get-id-from-parent={recordId} list-of-data={listOfData}> </c-child-component>
            </div>
        </div>
    </lightning-card>
</template>